.AppFormInline {
    position: relative;
}

.AppFormInlineInput {
    width: 100%;
    border-radius: 5em;
    border: 3px solid #969696;
    padding: .5em;
    padding-left: 4em;
    padding-right: 2.75em;
    font-size: 1.5em;
    background: #EFEFEF;
    color: #969696;
}

.AppFormInlineInputIconBeginning {
    color: #969696;
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(0, -50%);
}

.AppFormInlineInputIconEnd {
    background: #845EC2;
    color: white;
    border-radius: 50%;
    padding: .25em;
    font-size: 1.875em;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0, -50%);
    border: none;
}

.AppFormInlineInputIconEnd:hover {
    cursor: pointer;
    background: #643da1;
}