.header {
    background: #FFC75F;
    height: 5rem;
    padding: 0 15%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #E7B355;
}

.header__logo {
    white-space: nowrap;
    color: white;
    text-decoration: none;
}