.header-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav__a {
    text-decoration: none;
    color: white;
    margin-left: 1.5em;
}

.header-nav__logoutBtn {
    display: flex;
    align-items: center;
    background: #FFC75F;
    color: white;
    border: 1px solid #FFC75F;
    border-radius: 1em;
    padding: .5rem;
    margin-left: 1em;
    font-size: 1em;

}

.header-nav__logoutBtn:hover {
    cursor: pointer;
    background: #ed254e;
}