.startup {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    position: relative;
    padding-bottom: 2em;
    column-gap: 3em;
}

.startup__logo {
    width: 12.5em;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
}

.startup__logoSplash {
    width: 11.25em;
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    z-index: 1;
    left: -10px;
    top: 1px;
}

.startup-hero {
    text-align: left;
    color: white;
    font-size: 2em;
}

.startup-login-wrapper {
    position: absolute;
    width: 70%;
    height: 8em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}