.ptlItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin: .25em 0;
    padding: .2em .5em;
    border-radius: .75em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .20);
    border: 1px solid #845EC2;
}

.ptlItemDelete {
    color: #ed254e;
    font-size: 1.5em;
    border-radius: 50%;
    background: white;
    border: none;
}

.ptlItemDelete:hover {
    cursor: pointer;
    color: white;
    background: #ed254e;
}