.ptlHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.ptlHeaderDeleteAllBtn {
    display: flex;
    align-items: center;
    background: #ed254e;
    color: white;
    border: 1px solid #ed254e;
    border-radius: .25rem;
    padding: .5rem;
}

.ptlHeaderDeleteAllBtn:hover {
    cursor: pointer;
    background: white;
    color: #ed254e;
}