* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sanchez', serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.heading {
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: normal;
}

.display-mt {
  margin-top: 1.5em;
}

.displayError {
  text-align: center;
  background: #f8d7da;
  color: #842029;
  border: 1px solid transparent;
  border-color: #f5c2c7;
  border-radius: .25rem;
  padding: 1rem;
}

.displaySuccess {
  text-align: center;
  background: #d4edda;
  color: #155724;
  border: 1px solid transparent;
  border-color: #c3e6cb;
  border-radius: .25rem;
  padding: 1rem;
}

.displayInfo {
  text-align: center;
  background: #d1ecf1;
  color: #0c5460;
  border: 1px solid transparent;
  border-color: #bee5eb;
  border-radius: .25rem;
  padding: 1rem;
}